.faq-page {
  padding: 0 0 100px;
  min-height: 100vh;

  .faqContainer {
    width: 100%;
    overflow: hidden;
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: space-between;
    .faqBlock {
      display: inline-block;
      width: 28.33333%;
      margin: 0 2.5% 80px;
      //margin-bottom: 80px;
      padding: 40px;
      border: 1px solid $darkgray;
      //&:nth-child(3n) {
      //  margin-right: 0;
      //}
      .img {
        width: 100%;
        padding-bottom: 66%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0;
      }
      .title {
        margin: 0 0 27px;
        font-size: 36px;
        font-weight: 500;
      }
      .date {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        .read-more {
          margin-left: 40px;
          font-size: inherit;
          &:after {
            height: 3px;
          }
        }
      }
    }
  }
}

@media screen {
  @media (max-width: 1200px) {
    .faq-page {
      .faqContainer {
        .faqBlock {
          width: 45%;
        }
      }
    }
  }
  @media (max-width: 960px) {
    .faq-page {
      .faqContainer {
        .faqBlock {
          width: 95%;
        }
      }
    }
  }
}
